<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
    <h2>Bars</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for(let i = 0; i < bars.length; i++) { %>
      <div class="col">
        <div class="card mb-4 d-flex flex-column bar-box">
          <img
            src="<%= bars[i].img %>"
            class="card-img-top img-fluid"
            alt="Bar Image"
          />
          <div class="card-body">
            <h5 class="card-title"><%= bars[i].name %></h5>
            <a href="/bars/<%= bars[i].id %>" class="btn btn-warning btn-sm mb-2" role="button"
              >Click Here For More Details</a
            ><br>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  </body>
</html>
