<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Hour LV</title>
</head>
<body>
    <h1>Happy Hour LV</h1>
    <h2>Add A New Location</h2>
    <form action="/bars" method="POST">
        Name: <input type="text" name="name"><br>
        Address:<br>
        Street: <input type="text" name="address[0].street"><br>
        City: <input type="text" name="address[0].city"><br>
        State: <input type="text" name="address[0].state"><br>
        Zip Code: <input type="number" name="address[0].zipCode"><br>
        Happy Hour: <input type="checkbox" name="hasHappyHour"><br>
        Happy Hour Time: <input type="text" name="happyHourTime"><br>
        Description: <input type="text" name="description"><br>
        Images: <input type="text" name="img">
        <input type="submit" value="Add New Location">
    </form>
    
</body>
</html>