<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>Add A New Location</h2>
    <form action="/bars" method="POST">
        Name: <input type="text" name="name"><br>
        Street: <input type="text" name="street"><br>
        City: <input type="text" name="city"><br>
        State: <input type="text" name="state"><br>
        Zip Code: <input type="number" name="zipCode"><br>
        Happy Hour: <input type="checkbox" name="hasHappyHour"><br>
        Happy Hour Time: <input type="text" name="happyHourTime"><br>
        Description: <input type="text" name="description"><br>
        Images: <input type="text" name="img">
        <input type="submit" value="Add New Location">
    </form>
    
</body>
</html>