<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container new-loc-text">
        <h2 class="mt-4 mb-4">Add A New Location</h2>
        <form action="/bars" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control col-6" name="name" id="name" />
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Street:</label>
            <input type="text" class="form-control col-6" name="street" id="street" />
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City:</label>
            <input type="text" class="form-control col-6" name="city" id="city" />
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State:</label>
            <input type="text" class="form-control col-6" name="state" id="state" />
          </div>
          <div class="mb-3">
            <label for="zipCode" class="form-label">Zip Code:</label>
            <input type="number" class="form-control col-6" name="zipCode" id="zipCode" />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="hasHappyHour" id="hasHappyHour" />
            <label class="form-check-label" for="hasHappyHour">Happy Hour</label>
          </div>
          <div class="mb-3">
            <label for="happyHourTime" class="form-label">Happy Hour Time:</label>
            <input type="text" class="form-control col-6" name="happyHourTime" id="happyHourTime" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control col-6" name="description" id="description" />
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Images:</label>
            <input type="text" class="form-control col-6" name="img" id="img" />
          </div>
          <button type="submit" class="btn btn-danger">Add New Location</button>
        </form>
      </div>
  </body>
</html>
