body {
  background-color: rgb(172, 156, 145);
}

.card {
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 100%;
}

.card-title {
  text-align: center;
}

#app-title {
  text-align: center;
}

.bar-image {
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media (max-width: 850px) {
    .bar-image {
        max-width: 100%;
    }
}

.bar-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 800px;
}
